@model JFTareaPersonalizacion.Models.JFsuplementos

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>JFsuplementos</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Whey)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Whey)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cafeina)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cafeina)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Precio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Precio)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="JFEdit" asp-route-id="@Model?.ID">Edit</a> |
    <a asp-action="JFIndex">Back to List</a>
</div>
