@model JFTareaPersonalizacion.Models.JFsuplementos

@{
    ViewData["Title"] = "JF_Delete";
}

<h1>JF_Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>JFsuplementos</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Whey)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Whey)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cafeina)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cafeina)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Precio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Precio)
        </dd>
    </dl>
    
    <form asp-action="JFDelete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="JFIndex">Back to List</a>
    </form>
</div>
